form{
    flex-direction: column;
    display: flex;
    width: 50%;
    margin: auto;
    
}
#ienviar{
    width: 10%;
    margin:auto;
    background-color: aqua;
    border: solid;
}
#ienviar:hover{
    background-color: black;
}
#ienviar:active{
    background-color: red;
}
#inputnome:focus{
    background-color: aqua;
    border: none;
}
#inputemail:focus{
    border: none;
    background-color: aqua;
}
#inputnome{
    border: solid;
    margin-bottom: 30px;
}
#inputemail{
    border: solid;
    margin-bottom: 30px;
}
#senha{
    border: solid;
    margin-bottom: 30px;
}
#senha:focus{
    background-color: aqua;
    border: none;
}



